<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASM1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1><span>H</span>ien <span>S</span>tore</h1>
            </div>
            <h2>Sneaker</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="/images/main/fb.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="/images/main/ins.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="/images/main/ytb.png" /></a>
                </div>
            </div>
            <p>Copyright © 2021 TanHien. All rights reserved</p>
        </div>
    </section>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)*@
</body>
</html>
